<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.focuszz.mkfs.dal.mapper.LoginInfoMapper">

	<resultMap type="loginInfo" id="loginInfo_resultMap">
		<result property="id" column="id" />
		<result property="userId" column="user_id" />
		<result property="loginAccount" column="login_account" />
		<result property="password" column="password" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="createId" column="create_id" />
		<result property="createTime" column="create_time" />
		<result property="lastUpdateTime" column="update_time" />
		<result property="updateId" column="update_id" />
	</resultMap>

	
	<insert id="insert" parameterType="loginInfo">
		insert into login_info(
			user_id,
			login_account,
			password,
			last_login_time,
			create_id,
			create_time,
			update_id,
			update_time
		)values(
			#{userId},
			#{loginAccount},
			#{password},
			#{lastLoginTime},
			#{createId},
			#{createTime},
			#{updateId},
			#{lastUpdateTime}
		)
	</insert>
				
	<select id="queryByLoginAccountAndPassword" resultMap="loginInfo_resultMap">
		SELECT
			id,
			user_id,
			mobile_phone,
			password,
			create_id,
			create_time,
			update_id,
			update_time
		FROM
			login_info
		WHERE
			login_account=#{loginAccount}
		AND
			password=#{password}
	</select>
	
	<select id="queryByLoginAccount" resultMap="loginInfo_resultMap">
		SELECT
			id,
			user_id,
			login_account
		FROM
			login_info
		WHERE
			login_account=#{loginAccount}
	</select>
</mapper>